@media print {
  .md-main__inner.md-grid {
    padding-top: 0;
  }
  body > .md-container {
    padding-top: 0;
  }
  .md-content__inner {
    margin: 0;
    padding-top: 0;   
  }
  .md-typeset {
    line-height: normal; 
  }
  .md-typeset ol li, .md-typeset ul li {
    margin-bottom: 0;
  }
  .md-typeset h2 {
    margin: 2rem 0 0;
  }
  .md-typeset h1 {
    margin: 0;
  }
  .md-typeset blockquote, .md-typeset ol, .md-typeset p, .md-typeset ul {
    margin: 1ex 0;
  }
}
